<p> Cadastro de Livros</p>
<div class="row d-flex justify-content-center  ">
  <form [formGroup]="meuFormulario" (ngSubmit)="onSubmit()">
  <div d-flex flex-column mb-3>
    <div class="p-2  ">
      <label for="formGroupExampleInput" class="form-label">Título</label>
      <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Dom Quixote">
    </div>
    <br>
    <div class="p-2">
      <label for="formGroupExampleInput2" class="form-label">Autor</label>
      <input type="text" class="form-control" id="autor" name="autor" placeholder="Miguel de Cervantes">
    </div>
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">cadastrar</button>
    </div>
   </div>
  </form>
</div>