<p>carroslist works!</p>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Nome:</th>
        <th>Ano:</th>
    
    </tr>
    </thead>
    <tbody>
    <tr *ngFor = "let carro of lista">

        <th>{{ carro.nome }}</th>
        <th>{{ carro.ano }}</th>
        
    </tr>
    </tbody>
</table>
<button type="button"class="btn btn-success" (click)="abrirModal(carroModal)" >adicionar carro</button>


<ng-template #carroModal let-modal>
	<div class="modal-header" data-backdrop="false">
		<h4 class="modal-title">Modal title</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-carrodetails (retorno)="addList($event)" ></app-carrodetails>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>