<div class="borda">

    <h1>Listagem de carros</h1>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome:</th>
                <th>Ano:</th>
                <th>opções:</th>
            
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor = "let carro of lista; let i = index">

                <th scope="row">{{ carro.id }}</th>
                <th>{{ carro.nome }}</th>
                <th>{{ carro.ano }}</th>
                <th><button type="button" class="btn btn-outline-warning" (click)="editar(carroModal, carro, i)">editar</button><button class="btn btn-outline-danger" (click)="deletar(carro.id)">excluir</button></th>
                
            </tr>
        </tbody>
    </table>
    <div id="btn"class="d-grid col-1 mx-auto"><button type="button"class="btn btn-success btn-lg d-flex justify-content-center" (click)="adicionar(carroModal)" >adicionar carro</button></div>

</div>

<ng-template #carroModal let-modal>
	<div class="modal-header" data-backdrop="false">
		<h4 class="modal-title">Cadastro de carros</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-carrodetails [carro]="carroSelecionadaParaEdicao" (retorno)="addList($event)" ></app-carrodetails>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close('Close click')">fechar</button>
	</div>
</ng-template>