<p>livroslist works!</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Título:</th>
            <th>Autor:</th>
        
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let livro of lista">

            <th>{{ livro.titulo }}</th>
            <th>{{ livro.autor }}</th>
            
        </tr>
    </tbody>
</table>
<button type="button"class="btn btn-success" (click)="abrirModal(livroModal)" >cadastrar livro</button>


<ng-template #livroModal let-modal>
	<div class="modal-header" data-backdrop="false">
		<h4 class="modal-title">Modal title</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-livrodetails (retorno)="addList($event)" ></app-livrodetails>
            
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" data-dismiss="modal" (click)="modal.close('Close click')">Close</button>
	</div>
</ng-template>