<div class="borda">
    <h1>Listagem de pessoas</h1>
<table class="table table-bordered table-hover">
    <thead> 
        <tr>
            <th>ID</th>
            <th>Nome:</th>
            <th>Idade:</th>
            <th>opções:</th>
        
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor = "let pessoa of lista; let i = index">
               
             <th scope="row">{{ pessoa.id }}</th>
                <th>{{ pessoa.nome }}</th>
                <th>{{ pessoa.idade }}</th>
                <th><button class="btn btn-outline-warning" (click)="editar(abc, pessoa, i)">editar</button>
                <button class="btn btn-outline-danger" (click)="deletar(pessoa.id)">excluir</button></th>
                   
        </tr>
    </tbody>
    
</table>
<div id="btn"class="d-grid col-1 mx-auto"><button type="button"class="btn btn-success btn-lg d-flex justify-content-center" (click)="adicionar(abc)" >adicionar pessoa</button></div>

</div>
<ng-template #abc let-modal>
	<div class="modal-header" data-backdrop="false">
		<h4 class="modal-title">Cadastro de pessoas</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		
        <app-pessoadetails [pessoa]="pessoaSelecionadaParaEdicao" (retorno)="addNaLista($event)" ></app-pessoadetails>
            
	</div>
	<div class="modal-footer">
		<button type="button"class="btn btn-dark" data-dismiss="modal" (click)="modal.close('Close click')">fechar</button>
	</div>
</ng-template>

